body {
    background-image: url(../images/maxresdefault.jpg);
}

header {
    border-width: 5px; 
    border-color: black; 
    border-style: solid; 
    color: black; 
    background-color:lightcoral; 
    width: 30%;
    font-size: 50px; 
    padding: 2px; 
    margin: 10px;
}

.instructions {
    border-width: 3px; 
    border-color: black; 
    border-style: solid; 
    color: black; 
    background-color: lightpink; 
    width: 50%; 
    font-size: 17px; 
    padding: 2px; 
    margin: 10px; 
    line-height: 30px;
}

.randomnumber {
    border-width: 3px; 
    border-color: black; 
    border-style: solid; 
    color: black; 
    background-color: orange; 
    width: 20%; 
    height: 80px; 
    font-size: 34px; 
    padding: 1px; 
    margin: 10px; 
}

.clearfix {
    clear:both;
}

.scoretracker {
    border-width: 3px; 
    border-color: black; 
    border-style: solid; 
    color: black; 
    background-color: lightcoral; 
    width: 7%; 
    height: 80px; 
    font-size: 34px; 
    padding: 1px; 
    margin: 10px; 
}

.scorelabel {
    border-width: 3px; 
    border-color: black; 
    border-style: solid; 
    color: black; 
    background-color: papayawhip; 
    width: 20%; 
    font-size: 17px; 
    padding: 1px; 
    margin: 10px; 
}

